[trello]
appKey = ""
token = ""
ticketCreatelistID = ""
ticketDonelistID = ""
boardID = ""
soonLabelId = ""
ticketDoinglistID = ""
proxy = ""

[otrs]
baseUrl = ""
webservicePath = ""
user = ""
password = ""