[trello]
appKey = ""
token = ""
ticketCreateListID = ""
ticketDoneListID = ""
boardID = ""
soonLabelId = ""
ticketDoingListID = ""
proxy = ""

[otrs]
baseUrl = ""
webservicePath = ""
user = ""
password = ""
queues = []

[slack]
apiToken = ""
channelId = ""