[otrs]
baseUrl = ""
webservicePath = ""
user = ""
password = ""
queues = []

[trello]
enabled = true
appKey = ""
token = ""
ticketCreateListID = ""
ticketDoneListID = ""
boardID = ""
soonLabelId = ""
ticketDoingListID = ""
proxy = ""

[slack]
enabled = true
apiToken = ""
channelId = ""